$breakpoint-mobile: 550px;
.categoriContainer {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  @media (max-width: $breakpoint-mobile) {
    padding: 0;
    flex-direction: column;
  }
}
