.cartContainer {
  display: flex;
  flex-direction: column;
}
.cartContainer .wrapper {
  padding: 20px;
}
@media (max-width: 750px) {
  .cartContainer .wrapper {
    padding: 10px;
  }
}
.cartContainer .wrapper .title {
  font-weight: 300;
  text-align: center;
}
.cartContainer .wrapper .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.cartContainer .wrapper .top .topbutton {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}
.cartContainer .wrapper .top .filled {
  background: #000;
  color: #fff;
}
@media (max-width: 750px) {
  .cartContainer .wrapper .top .topTexts {
    display: none;
  }
}
.cartContainer .wrapper .top .topTexts .toptext {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 10px;
}
.cartContainer .wrapper .bottom {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .cartContainer .wrapper .bottom {
    flex-direction: column;
  }
}
.cartContainer .wrapper .bottom .info {
  flex: 3;
  margin: 10px 50px;
}
.cartContainer .wrapper .bottom .info hr {
  background: #eee;
  border: none;
  height: 1px;
  margin: 10px 0px;
}
.cartContainer .wrapper .bottom .info .productContainer {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 750px) {
  .cartContainer .wrapper .bottom .info .productContainer {
    flex-direction: column;
  }
}
.cartContainer .wrapper .bottom .info .productContainer .pDetails {
  flex: 2;
  display: flex;
}
.cartContainer .wrapper .bottom .info .productContainer .pDetails img {
  width: 200px;
}
.cartContainer .wrapper .bottom .info .productContainer .pDetails .details {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
}
.cartContainer .wrapper .bottom .info .productContainer .pDetails .details .pColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
}
.cartContainer .wrapper .bottom .info .productContainer .pDetails .details .red {
  background-color: red;
}
.cartContainer .wrapper .bottom .info .productContainer .pPrice {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 750px) {
  .cartContainer .wrapper .bottom .info .productContainer .pPrice {
    margin-top: 30px;
  }
}
.cartContainer .wrapper .bottom .info .productContainer .pPrice .amountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cartContainer .wrapper .bottom .info .productContainer .pPrice .amountContainer .pAmount {
  font-size: 24px;
  margin: 5px;
}
@media (max-width: 750px) {
  .cartContainer .wrapper .bottom .info .productContainer .pPrice .amountContainer .pAmount {
    margin: 5px 15px;
  }
}
.cartContainer .wrapper .bottom .info .productContainer .pPrice .productPrice {
  font-size: 30px;
  font-weight: 200;
}
@media (max-width: 750px) {
  .cartContainer .wrapper .bottom .info .productContainer .pPrice .productPrice {
    margin-bottom: 20px;
  }
}
.cartContainer .wrapper .bottom .summary {
  flex: 1;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .cartContainer .wrapper .bottom .summary {
    margin: 0px 50px;
  }
}
.cartContainer .wrapper .bottom .summary .summaryTitle {
  font-weight: 200;
  text-align: center;
}
.cartContainer .wrapper .bottom .summary .summaryItem {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.cartContainer .wrapper .bottom .summary .total {
  font-weight: 500;
  font-size: 24px;
}
.cartContainer .wrapper .bottom .summary button {
  width: 100%;
  padding: 10px;
  background: #000;
  color: #eee;
  cursor: pointer;
  font-weight: 600;
}/*# sourceMappingURL=cart.css.map */